{
  "mqtt_host": "homeassistant_ip",
  "mqtt_port": 1883,
  "mqtt_username": "ha",
  "mqtt_password": "<PASSWORD>",
  "mqtt_base_topic": "netpulse",

  "router_name": "WifiAP-01",

  "enable_wifi_tracking": true,
  "wifi_tracking_mode": "local",
  "wifi_poll_interval": 2,
  "wifi_grace_seconds": 60,

  "_comment_central_mode_only": "The 4 keys below are only used when wifi_tracking_mode is \"central\" (see README) - harmless to leave as-is otherwise.",
  "wifi_central_syslog_source_pattern": "WifiAP-\\w+",
  "wifi_central_grace_seconds": 60,
  "wifi_central_ap_timeout_seconds": 1200,
  "wifi_central_local_resync_seconds": 90,

  "_comment_satellite_heartbeat": "Enable ONLY on a satellite AP in central mode, INSTEAD of enable_wifi_tracking - see README 'Handling missed events'.",
  "enable_wifi_heartbeat": false,
  "wifi_heartbeat_interval": 60,
  "wifi_heartbeat_miss_threshold": 2,

  "enable_wired_tracking": true,
  "wired_static_leases_only": true,
  "wired_whitelist": [],
  "wired_interfaces": ["br-lan"],
  "wired_grace_seconds": 60,
  "wired_ping_interval": 30,
  "wired_ping_timeout": 2,
  "wired_ping_failures": 3,

  "dhcp_leases_file": "/tmp/dhcp.leases",
  "uci_dhcp_file": "/etc/config/dhcp",

  "log_level": "INFO"

}
